<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data.sex.describe()

count     32561
unique        2
top        Male
freq      21790
Name: sex, dtype: object

**2. What is the average age (*age* feature) of women?**

In [11]:
data.groupby(['sex'])['age'].describe(percentiles=[])

          count       mean        std   min   50%   max
sex
Female  10771.0  36.858230  14.013697  17.0  35.0  90.0
Male    21790.0  39.433547  13.370630  17.0  38.0  90.0

**3. What is the percentage of German citizens (*native-country* feature)?**

In [21]:
(data['native-country'] == 'Germany').sum()/data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [31]:
data[data.salary == '>50K'].describe(percentiles=[])

               age        fnlwgt       ...        capital-loss  hours-per-week
count  7841.000000  7.841000e+03       ...         7841.000000     7841.000000
mean     44.249841  1.880050e+05       ...          195.001530       45.473026
std      10.519028  1.025418e+05       ...          595.487574       11.012971
min      19.000000  1.487800e+04       ...            0.000000        1.000000
50%      44.000000  1.761010e+05       ...            0.000000       40.000000
max      90.000000  1.226583e+06       ...         3683.000000       99.000000

[6 rows x 6 columns]

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [42]:
data.groupby(['salary'])['education'].unique()['>50K']

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [55]:
data.groupby(['race'])['sex'].describe()
data[(data.sex =='Male') & (data.race == 'Amer-Indian-Eskimo')]['age'].max()

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [104]:
Married_men_more_50 = data[(data.sex == 'Male') & (data.salary == '>50K')& (data['marital-status'].apply(lambda status: 'Married' in status))].shape[0]
print( Married_men_more_50 /data[(data.salary == '>50K') & (data.sex == 'Male')].shape[0],'\n Proportion of Married men, who earn >50K, to all men')

0.8953767637346143
 Proportion of Married men, who earn >50K, to all men

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [131]:
print("maximum number of hours a person works per week = {}".format(data['hours-per-week'].max()))
print('number of people, who work so long, =  {}'.format( data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]))
print('percentage of those who earn a lot (>50K) among them = {:0.3f}'.format(data[(data['hours-per-week'] == data['hours-per-week'].max()) &(data.salary == '>50K')].shape[0]/ data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]))

maximum number of hours a person works per week = 99
number of people, who work so long, =  85
percentage of those who earn a lot (>50K) among them = 0.294

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [145]:
for country in data['native-country'].unique():
    print(country,'\n')
    print(data[data['native-country'] == country].groupby(['salary'])['hours-per-week'].describe())
    print('\n\n')

United-States

          count       mean        std  min   25%   50%   75%   max
salary
<=50K   21999.0  38.799127  12.400570  1.0  35.0  40.0  40.0  99.0
>50K     7171.0  45.505369  11.025092  1.0  40.0  40.0  50.0  99.0



Cuba

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    70.0  37.985714   9.960055   5.0  40.0  40.0  40.0  70.0
>50K     25.0  42.440000  12.453514  14.0  40.0  40.0  50.0  60.0



Jamaica

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    71.0  38.239437  9.673919  10.0  35.0  40.0  40.0  70.0
>50K     10.0  41.100000  4.954235  35.0  38.5  40.0  40.0  50.0



India

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    60.0  38.233333  12.617403   8.0  35.0  40.0  40.0  84.0
>50K     40.0  46.475000  10.056220  20.0  40.0  41.5  50.0  72.0



?

        count       mean        std  min   25%   50%   75%   max
salary
<=50K   437.0  40.164760  12.817002  1.0  40.0  40.0  45.0  99.0
>50K    146.0  45.547945  10.202827  8.0  40.0  40.0  50.0  80.0



Mexico

        count       mean        std   min   25%   50%   75%   max
salary
<=50K   610.0  40.003279  10.377441   4.0  40.0  40.0  40.0  99.0
>50K     33.0  46.575758  10.917390  30.0  40.0  40.0  50.0  80.0



South

        count      mean        std   min   25%   50%   75%   max
salary
<=50K    64.0  40.15625  16.831771   4.0  35.0  40.0  48.5  99.0
>50K     16.0  51.43750  10.942082  35.0  40.0  50.0  60.0  70.0



Puerto-Rico

        count       mean        std  min   25%   50%   75%   max
salary
<=50K   102.0  38.470588   9.745988  6.0  36.0  40.0  40.0  80.0
>50K     12.0  39.416667  11.057357  8.0  40.0  40.0  42.5  50.0



Honduras

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    12.0  34.333333  8.626949  17.0  30.0  37.5  40.0  45.0
>50K      1.0  60.000000       NaN  60.0  60.0  60.0  60.0  60.0



England

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    60.0  40.483333  15.177472   7.0  40.0  40.0  45.0  99.0
>50K     30.0  44.533333  11.072592  20.0  40.0  40.0  50.0  85.0



Canada

        count       mean        std   min    25%   50%   75%   max
salary
<=50K    82.0  37.914634  13.012056   8.0  32.75  40.0  40.0  70.0
>50K     39.0  45.641026  12.066673  20.0  40.00  45.0  51.0  72.0



Germany

        count       mean        std  min   25%   50%   75%   max
salary
<=50K    93.0  39.139785  12.121299  6.0  38.0  40.0  45.0  70.0
>50K     44.0  44.977273  11.944618  8.0  40.0  45.0  50.0  70.0



Iran

        count   mean        std   min   25%   50%    75%   max
salary
<=50K    25.0  41.44  12.440123   6.0  40.0  40.0  48.00  65.0
>50K     18.0  47.50  10.325582  30.0  40.0  45.0  53.75  70.0



Philippines

        count       mean        std   min   25%   50%   75%   max
salary
<=50K   137.0  38.065693  11.265646   8.0  40.0  40.0  40.0  99.0
>50K     61.0  43.032787   8.445842  35.0  40.0  40.0  40.0  80.0



Italy

        count    mean        std   min    25%   50%   75%   max
salary
<=50K    48.0  39.625  15.090683   6.0  38.75  40.0  40.0  80.0
>50K     25.0  45.400   9.495613  20.0  40.00  40.0  50.0  67.0



Poland

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    48.0  38.166667  12.237600   3.0  40.0  40.0  40.0  65.0
>50K     12.0  39.000000   9.779385  10.0  40.0  40.0  40.0  50.0



Columbia

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    57.0  38.684211  8.610952   5.0  40.0  40.0  40.0  60.0
>50K      2.0  50.000000  0.000000  50.0  50.0  50.0  50.0  50.0



Cambodia

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    12.0  41.416667  3.088346  40.0  40.0  40.0  40.5  50.0
>50K      7.0  40.000000  0.000000  40.0  40.0  40.0  40.0  40.0



Thailand

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    15.0  42.866667  20.413114  10.0  35.0  40.0  52.5  80.0
>50K      3.0  58.333333  14.433757  50.0  50.0  50.0  62.5  75.0



Ecuador

        count       mean        std   min    25%   50%   75%   max
salary
<=50K    24.0  38.041667  10.251105  22.0  30.00  40.0  40.0  66.0
>50K      4.0  48.750000   2.500000  45.0  48.75  50.0  50.0  50.0



Laos

        count    mean       std   min   25%   50%   75%   max
salary
<=50K    16.0  40.375  4.112988  31.0  40.0  40.0  40.0  50.0
>50K      2.0  40.000  0.000000  40.0  40.0  40.0  40.0  40.0



Taiwan

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    31.0  33.774194  14.270505   2.0  20.0  40.0  40.0  60.0
>50K     20.0  46.800000  13.485275  27.0  40.0  40.0  55.0  84.0



Haiti

        count    mean        std   min    25%   50%   75%   max
salary
<=50K    40.0  36.325  11.943000  10.0  30.00  40.0  40.0  75.0
>50K      4.0  42.750   9.142392  35.0  38.75  40.0  44.0  56.0



Portugal

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    33.0  41.939394  9.062075  30.0  40.0  40.0  40.0  84.0
>50K      4.0  41.500000  5.972158  36.0  39.0  40.0  42.5  50.0



Dominican-Republic

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    68.0  42.338235  11.121594  22.0  40.0  40.0  40.0  98.0
>50K      2.0  47.000000   9.899495  40.0  43.5  47.0  50.5  54.0



El-Salvador

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    97.0  36.030928  9.396867   3.0  32.0  40.0  40.0  60.0
>50K      9.0  45.000000  7.071068  35.0  40.0  45.0  50.0  55.0



France

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    17.0  41.058824  12.401969  15.0  40.0  40.0  50.0  66.0
>50K     12.0  50.750000  16.360290  40.0  40.0  47.5  50.0  99.0



Guatemala

        count       mean       std   min   25%   50%   75%   max
salary
<=50K    61.0  39.360656  6.570218  18.0  40.0  40.0  40.0  60.0
>50K      3.0  36.666667  5.773503  30.0  35.0  40.0  40.0  40.0



China

        count       mean        std   min   25%   50%    75%   max
salary
<=50K    55.0  37.381818  11.439844   1.0  36.0  40.0  40.00  60.0
>50K     20.0  38.900000  10.125008  10.0  38.0  40.0  41.25  60.0



Japan

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5  65.0
>50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0  99.0



Yugoslavia

        count  mean        std   min   25%   50%   75%   max
salary
<=50K    10.0  41.6  11.305849  20.0  40.0  40.0  40.0  66.0
>50K      6.0  49.5  11.202678  40.0  40.0  46.0  58.0  65.0



Peru

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    29.0  35.068966  11.609513   4.0  28.0  40.0  40.0  60.0
>50K      2.0  40.000000   0.000000  40.0  40.0  40.0  40.0  40.0



Outlying-US(Guam-USVI-etc)

        count       mean        std   min    25%   50%    75%   max
salary
<=50K    14.0  41.857143  10.747859  24.0  36.25  40.0  50.25  60.0



Scotland

        count       mean        std   min   25%   50%   75%   max
salary
<=50K     9.0  39.444444   9.166667  20.0  40.0  40.0  40.0  55.0
>50K      3.0  46.666667  11.547005  40.0  40.0  40.0  50.0  60.0



Trinadad&Tobago

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    17.0  37.058824  12.477332  14.0  35.0  40.0  40.0  60.0
>50K      2.0  40.000000   0.000000  40.0  40.0  40.0  40.0  40.0



Greece

        count       mean        std   min   25%   50%    75%   max
salary
<=50K    21.0  41.809524  16.857103   4.0  40.0  40.0  55.00  75.0
>50K      8.0  50.625000  11.783008  35.0  40.0  50.0  61.25  65.0



Nicaragua

        count      mean       std   min    25%   50%    75%   max
salary
<=50K    32.0  36.09375  8.663454  11.0  30.00  40.0  40.00  60.0
>50K      2.0  37.50000  3.535534  35.0  36.25  37.5  38.75  40.0



Vietnam

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    62.0  37.193548  12.422664   1.0  40.0  40.0  40.0  77.0
>50K      5.0  39.200000   1.788854  36.0  40.0  40.0  40.0  40.0



Hong

        count       mean        std   min    25%   50%    75%   max
salary
<=50K    14.0  39.142857   4.294131  30.0  37.75  40.0  40.00  50.0
>50K      6.0  45.000000  10.000000  40.0  40.00  40.0  43.75  65.0



Ireland

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    19.0  40.947368   7.183884  25.0  38.0  40.0  42.0  55.0
>50K      5.0  48.000000  10.954451  40.0  40.0  40.0  60.0  60.0



Hungary

        count  mean      std   min   25%   50%   75%   max
salary
<=50K    10.0  31.3  18.5954   3.0  20.0  30.0  47.5  60.0
>50K      3.0  50.0  10.0000  40.0  45.0  50.0  55.0  60.0



Holand-Netherlands

        count  mean  std   min   25%   50%   75%   max
salary
<=50K     1.0  40.0  NaN  40.0  40.0  40.0  40.0  40.0

In [146]:
print('Japan')
print(data[data['native-country'] == 'Japan'].groupby(['salary'])['hours-per-week'].describe())

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5  65.0
>50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0  99.0